body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    text-align: center;
    margin-bottom: 626px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  }

  h1 span {
    font-weight: bold;
  }

#h1{
  color: #3F3D56;
}

p {
color: #828282;
}

a{
  color: #3F3D56;
  text-align:justify;
  margin-right: 57px;
  font-weight: bold;
}

span {
  color: #EE24FF;
}

strong {
  color: #3F3D56;
}

span2 {
  color: #828282;
}